.container {
  position: relative;

  width: 3000px;
  max-height: 100%;
  height: calc(100vh - 40px);
  background: #fff;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.06);
  display: flex;

  margin: 0;
  padding: 0;
}
.container .leftside {
  position: relative;

  flex: 30%;
  background: #fff;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.container .rightside {
  position: relative;
  flex: 70%;
  background: #e5ddd5;
}
.container .rightside::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  opacity: 0.06;
}
.header {
  position: relative;
  width: 100%;
  height: 60px;
  background: #ededed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}
.userimg {
  position: relative;
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
  /* margin-right: 2px; */
}
.cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.nav_icon li {
  display: inline-block;
  list-style: none;
  margin: 5px 5px 5px 5px;
  cursor: pointer;
  color: #51585c;
  font-size: 1.5rem;
}

.search_chat {
  position: relative;
  width: 100%;
  height: 50px;
  display: flex;
  background: #f6f6f6;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
}
.search_chat div {
  width: 100%;
}
.search_chat div input {
  width: 100%;
  outline: none;
  border: none;
  background: #fff;
  padding: 6px;
  height: 38px;
  border-radius: 30px;
  font-size: 14px;
  padding-left: 60px;
}
.search_chat div input::placeholder {
  color: #bbb;
}
.search-icon {
  position: absolute;
  left: 30px;
  top: 16px;
  font-size: 1.2rem;
}
.chatlist {
  position: relative;

  height: calc(100% - 110px);
  overflow-y: auto;
}
.chatlist .block {
  position: relative;

  flex-direction: column;
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
  cursor: pointer;
}
.chatlist .selected {
  background: #ededed;
}
.chatlist .block:hover {
  background: #f5f5f5;
}
.chatlist .block .imgbx {
  position: relative;
  min-width: 45px;
  height: 45px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 10px;
}

.chatlist .block .details {
  position: relative;
  width: 100%;
}
.chatlist .block .details .listHead {
  display: flex;
  justify-content: space-between;
  /* margin-bottom: 5px; */
  margin-top: 5px;
}
.chatlist .block .details .listHead h4 {
  margin-top: 2px;
  font-size: 1.1rem;
  font-weight: 600;
  color: #111;
}
.chatlist .block .details .listHead .time {
  margin-top: 2px;
  font-size: 0.75rem;
  color: #aaa;
}
.message_p {
  margin-top: -15px;
  margin-bottom: -10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.message_p p {
  color: #aaa;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  font-size: 0.9rem;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.message_p b {
  display: flex;
  min-width: 20px;
  height: 20px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #06d755;
  font-size: 0.75rem;
  color: #fff;
}
/* right side */
.imgText {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imgText h4 {
  font-weight: 500;
  font-size: medium;
  line-height: 1.2rem;
  margin-left: 15px;
}
.imgText h4 span {
  font-size: 0.8em;
  color: #555;
}
/* chat box */
.chatBox {
  position: relative;
  width: 100%;
  height: calc(100% - 120px);
  padding: 50px;
  overflow-y: auto;
}
.message {
  position: relative;
  display: flex;
  width: 100%;
  margin: 5px 0;
}
.message p {
  position: relative;
  right: 0;
  text-align: right;
  max-width: 65%;
  padding: 12px;
  background: #dcf8c6;
  border-radius: 10px;
  font-size: 0.9em;
}
.message p::before {
  content: "";
  position: absolute;
  top: 0;
  right: -12px;
  width: 20px;
  height: 20px;
  background: linear-gradient(
    135deg,
    #dcf8c6,
    #dcf8c6 50%,
    transparent 50%,
    transparent
  );
}
.message p span {
  display: block;
  margin-top: 5px;
  font-size: 0.85em;
  opacity: 0.5;
}
.my_message {
  justify-content: flex-end;
}
.friend_message {
  justify-self: flex-start;
}
.friend_message p {
  background: #fff;
  text-align: left;
}
.message.friend_message p::before {
  content: "";
  position: absolute;
  top: 0;
  left: -12px;
  width: 20px;
  height: 20px;
  background: linear-gradient(
    225deg,
    #fff,
    #fff 50%,
    transparent 50%,
    transparent
  );
}
.chatbox_input {
  position: relative;
  width: 100%;
  display: flex;
  height: 60px;
  background: #f0f0f0;
  top: 59px;
  padding: 15px;
  justify-content: space-between;
  align-items: center;
}
.chatbox_input .icon {
  cursor: pointer;
  font-size: 1.8em;
  color: #51585c;
}
.chatbox_input .icon:nth-child(1) {
  margin-right: 15px;
  position: relative;
}

.chatbox_input input {
  position: relative;
  width: 90%;
  margin: 0 20px;
  padding: 10px 20px;
  border: none;
  outline: none;
  border-radius: 30px;
  background-color: #fff;
}
/* all contacts */
.chatlist .block .each-block {
  width: 100%;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}
.chatlist .block .each-block .imgbx2 {
  position: relative;
  max-width: 45px;
  height: 45px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 10px;
}

.chatlist .block .each-block .details2 {
  position: relative;
  width: 100%;
}

.chatlist .block .each-block .details2 .listHead2 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  margin-top: 5px;
}

.chatlist .block .each-block .details2 .listHead2 h4 {
  margin-top: 2px;
  font-size: 1.1rem;
  font-weight: 600;
  color: #111;
}

.message_p {
  margin-top: -15px;
  margin-bottom: -10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.message_p p {
  color: #aaa;
  margin-top: 10px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  font-size: 0.9rem;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.message_p b {
  display: flex;
  min-width: 20px;
  height: 20px;
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #06d755;
  font-size: 0.75rem;
  color: #fff;
}
.emoji {
  position: relative;
}
.emoji-picker-react {
  display: absolute;
  top: -350px;
}
