/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;

  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(
    #009688 0%,
    #009688 130px,
    #d9dbd5 130px,
    #d9dbd5 100%
  );
} */
.container {
  height: 80vh !important;
}
.login {
  position: relative;
  display: flex;
  width: 100%;
}
.log-text {
  color: green;
  text-transform: uppercase;
  display: flex;

  justify-content: center;
  margin-bottom: 34px;
}
.form {
  margin-left: 20rem;
  margin-top: 8rem;
  width: 100%;
  font-weight: 500;
}
.form-input {
  padding: 1.4rem;
  border-radius: 2rem;
}
.login_button {
  margin-left: 11rem;
  padding: 1rem 4rem 1rem 4rem;
  font-weight: 500;
  margin-top: 10px;
}
.button-sign {
  margin-top: 20px;
  font-weight: 500;
  justify-content: center;
  align-items: center;
  margin-left: 8rem;
}
