/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;

  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(
    #009688 0%,
    #009688 130px,
    #d9dbd5 130px,
    #d9dbd5 100%
  );
} */
.login {
  position: relative;
  display: flex;
  width: 100%;
}
.form {
  margin-left: 25rem;
  margin-top: 15rem;
  width: 100%;
}
